.sidebar {
    margin: 0;
    padding: 0;
    width: 22%;
    background-color: #212121;
    /* position: fixed; */
    height: 100vh; /* Đổi từ 100% thành 100vh */
    overflow: auto;
}

.sidebar a {
    font-size: 14px;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px 4px 4px 4px;
}

.sidebar a.active {
    background-color: #333333;
    color: white;
    border-radius: 5px;
}

.sidebar a:hover:not(.active) {
    background-color: #333333;
    color: white;
    border-radius: 5px;
}

.user-info {
}

.avatar {
}

.user-name, .user-email {
}

.bottom-sidebar {
    
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}